BODY {
    background-color: #E3E3FF;
}

.canvas-element {
    border: 3px solid black;
    margin-left: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 40px;
}

.slider-wrapper {
    display: inline-block;
    width: 20px;
    height: 150px;
    padding: 0;
}

.slider-wrapper input {
    width: 440px;
    height: 20px;
    margin: 0;
    transform-origin: 0px 0px;
    transform: rotate(-90deg);
}